<div class="container">
  <h2>{{ 'SERVICE.TITLE' | translate }}</h2>

  <div class="service-card">
    <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <label for="Adresses">{{ 'SERVICE.USER_ADDRESSES' | translate }}</label>
          <select class="form-control" id="adresses" name="adresses" (change)="getAdress($event)">
            @for (ad of adresses; track ad) {
              <option [ngValue]="ad">{{ad.adressId}} - {{ad.description}}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="services">{{ 'SERVICE.SERVICES' | translate }}</label>
          <select class="form-control" id="selectTypeService" name="selectTypeService" (change)="typeServiceSelected($event)">
            @for (ts of typeServices; track ts) {
              <option [ngValue]="ts">{{ts.typeServiceId}} - {{ts.serviceName}}</option>
            }
          </select>
        </div>

        <div class="col">
          <label for="price">{{ 'SERVICE.VALUE' | translate }}</label>
          <input class="form-control" type="text" formControlName="price" value="{{price | currency:'COP'}}" readonly />
        </div>

        <div class="col">
          <label for="date">{{ 'SERVICE.DATE' | translate }}</label>
          <input class="form-control" type="date" formControlName="date" required />
        </div>

        <div class="col">
          <label for="time">{{ 'SERVICE.TIME' | translate }}</label>
          <input type="time" class="form-control" formControlName="time" required />
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-4">
          <label for="servicesQuantity">{{ 'SERVICE.QUANTITY' | translate }}</label>
          <input type="text" class="form-control" appNumerosTag formControlName="servicesQuantity" (blur)="updateTotalPrice($event)" required />
        </div>

        <div class="col">
          <label for="totalPrice">{{ 'SERVICE.TOTAL' | translate }}</label>
          <input type="text" class="form-control" formControlName="totalPrice" value="{{totalPrice | currency:'COP'}}" readonly/>
        </div>

        <div class="col">
          <label for="payment">{{ 'SERVICE.PAYMENT_METHOD' | translate }}</label>
          <input type="text" class="form-control" value="PSE" formControlName="payment" required />
        </div>
      </div>

      <button type="submit" class="btn btn-submit" [disabled]="!serviceForm.valid">{{ 'SERVICE.CREATE' | translate }}</button>
    </form>
  </div>
</div>
