<section class="about py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6 mb-4 mb-lg-0">
        <img src="assets/images/about.svg" alt="{{ 'ABOUT.IMAGE_ALT' | translate }}" class="img-fluid">
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="mb-3">{{ 'ABOUT.TITLE' | translate }}</h1>
        <p class="lead text-muted mb-4">{{ 'ABOUT.SUBTITLE' | translate }}</p>
        <p>{{ 'ABOUT.BODY_1' | translate }}</p>
        <p>{{ 'ABOUT.BODY_2' | translate }}</p>
      </div>
    </div>
  </div>
</section>
