<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-4">
        <a [routerLink] = "['/home']" class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item mr-4">
        <a [routerLink] = "['/about']" class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item mr-4">
        <a [routerLink] = "['/contact']" class="nav-link" href="#">Contact us</a>
      </li>
      <li class="nav-item mr-4">
          <a [routerLink] = "['/register']" class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item mr-4">
          <a [routerLink] = "['/login']" class="nav-link" href="#">Log In</a>
      </li>
      <li class="nav-item mr-4">
        <a [routerLink] = "['/logout']" class="nav-link" href="#">Log Out</a>
    </li>
    </ul>
  </div>
</nav>

<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="">Hair Talent App</h2>
      <p class="lead">Use our services, and save!!</p>
    </div>
</div> -->

<div class="blockquote-footer footer mb-4">
  <h5>COPYRIGHT 2019 - Created By Pablo Velilla</h5> 
</div>
 



<router-outlet></router-outlet>
