<!--The content below is only a placeholder and can be replaced.-->

@if (!isDashboardRoute) {
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="{{ 'NAV.TOGGLE' | translate }}">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active mr-4">
        <a [routerLink] = "['/home']" class="nav-link" href="#">{{ 'NAV.HOME' | translate }}</a>
      </li>
      <li class="nav-item mr-4">
        <a [routerLink] = "['/about']" class="nav-link" href="#">{{ 'NAV.ABOUT' | translate }}</a>
      </li>
      <li class="nav-item mr-4">
        <a [routerLink] = "['/contact']" class="nav-link" href="#">{{ 'NAV.CONTACT' | translate }}</a>
      </li>
      <li class="nav-item mr-4">
          <a [routerLink] = "['/register']" class="nav-link" href="#">{{ 'NAV.REGISTER' | translate }}</a>
      </li>
      @if (hideLogOut) {
        <li class="nav-item mr-4">
            <a [routerLink] = "['/login']" class="nav-link" href="#">{{ 'NAV.LOGIN' | translate }}</a>
        </li>
      } @else {
        <li class="nav-item mr-4">
            <a class="nav-link" href="#" (click)="logout()">{{ 'NAV.LOGOUT' | translate }}</a>
        </li>
      }
    </ul>
    <div class="ms-auto d-flex align-items-center">
      <app-language-switcher></app-language-switcher>
    </div>
  </div>
</nav>
}


<router-outlet></router-outlet>

@if (!isDashboardRoute) {
<footer class="blockquote-footer footer">
  <h5>{{ 'FOOTER.COPYRIGHT' | translate }}</h5> 
</footer>
}
