<div class="container m-4">
      <h2>Records</h2>

      <div class="row">
        <a [routerLink] = "['/profile/client/create-new-service']" class="nav-link" href="#">Create Service</a>
        <a [routerLink] = "['/logout']" class="nav-link" href="#">Log Out</a>
      </div>

      <div class="container">

        <div class="row">

          <div class="flip-card text-white mb-3 mr-3" *ngFor="let sd of serviceDetails" [hidden]="sd.professional.userId==sd.client.userId">
            <div class="flip-card-inner">
              
              <div [ngClass]="sd.transaction.state == 0?cardClassFront:cardClassFrontPaid">
                <div class="card-header"><b>{{sd.service.typeService.serviceName | uppercase}}</b></div>
                <div class="card-body">
                  <h5 class="card-title"><b>Profesional:</b>{{sd.professional.name}} {{sd.professional.lastName}}</h5>
                  <p><b>Date:</b> {{sd.date | date:'dd-MM-yyyy'}}</p>
                  <p><b>Hour:</b> {{sd.hour}}</p>
                </div>
              </div>

              <div [ngClass]="sd.transaction.state == 0?cardClassBack:cardClassBackPaid">
                <div class="card-body">
                  <p><b>Cantidad de Servicios:</b> {{sd.quantity}}</p>
                  <p><b>Value:</b> {{sd.value | currency:'COP'}}</p>
                  <p><b>Pago:</b> {{sd.transaction.typeTransaction == 1?'DEBITO':'CREDITO'}}</p>
                  <p><b>Estado Transacción:</b> {{sd.transaction.state == 1?'PAGADO':'SIN PAGAR'}}</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
</div>